.documentation-title {
    margin: 50px auto 0px auto;
    text-align: center;
}

#documentation--body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#documentation--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    order: 2;
    margin: 0 auto;
}

#documentation--content > h1 {
    font-size: 55px;
}

#documentation--meta {
    order: 1;
}

#documentation--content img {
    max-width: 100%;
}

#documentation--content .highlight pre {
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#documentation--content code span {
    font-family: 'Courier New', Courier, monospace;
}

#documentation--content blockquote {
    border-left: solid 3px rgb(130, 130, 158);
    padding-left: 8px;
}

#documentation--content hr {
    border-top: 1px solid rgb(0, 0, 78);
    opacity: 1;
}

#documentation--content pre {
    width: 100%;
    float: left;
    min-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: #f8f8f2;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#documentation--content td>code,
#documentation--content li>code,
#documentation--content p>code {
    background-color: rgb(227, 231, 233);
    color: rgb(0, 0, 78);
    padding: 0 3px;
    border-radius: 5px;
    margin: 3px;
    font-family: 'Courier New', Courier, monospace;
}

#documentation--content pre code,
.table-responsive {
    max-width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #272822;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(77, 77, 77);
        border-radius: 20px;
        border: 3px solid #272822;
    }
}

#documentation--content table {
    border-collapse: collapse;
    color: black;
    border-radius: 10px;
}

#documentation--content table,
th,
td {
    border: 1px solid lightgray;
}

#documentation--content th,
td {
    padding: 5px;
}

#documentation--content h1,
#documentation--content h2,
#documentation--content h3,
#documentation--content h4,
#documentation--content h5,
#documentation--content h6 {
    font-weight: 800;
    margin: 0.5em 0;
}

#documentation--content p:has(img) {
    display: flex;
    justify-content: center;

    img {
        border-radius: 10px;
    }
}

@media (min-width: 992px) {
    #documentation--body {
        flex-direction: row;
        gap: 5%;
    }

    #documentation--content {
        width: auto;
        max-width: 800px;
        order: 1;
    }

    #documentation--meta {
        width: 25%;
        order: 2;
    }
}