.documentation-title {
    margin: 50px auto 0px auto;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
}

hr {
    border-color: rgba(0, 0, 0, 0.25);
    margin-top: 40px;
}

#documentation--body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100%;

    >div {
        max-width: 100%;
    }
}

#documentation--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    order: 2;
    margin: 0 auto;
    max-width: 100%;

    a {
        color: black;
    }

    >h1 {
        font-size: 25px;
    }

    #documentation--meta {
        order: 1;
    }

    img {
        max-width: 100%;
    }

    .highlight pre {
        padding: 15px;
        font-family: 'Courier New', Courier, monospace;
    }

    code span {
        font-family: 'Courier New', Courier, monospace;
    }

    blockquote {
        border-left: solid 3px rgb(130, 130, 158);
        padding-left: 8px;
    }

    hr {
        border-top: 1px solid rgb(0, 0, 78);
        opacity: 1;
    }

    pre {
        width: 100%;
        float: left;
        min-width: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        color: #f8f8f2;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }

    td>code,
    li>code,
    p>code {
        background-color: rgb(227, 231, 233);
        color: rgb(0, 0, 78);
        padding: 0 3px;
        border-radius: 5px;
        margin: 3px;
        font-family: 'Courier New', Courier, monospace;
    }

    code {
        overflow-wrap: break-word;
    }

    pre code {
        max-width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #272822;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(77, 77, 77);
            border-radius: 20px;
            border: 3px solid #272822;
        }
    }

    table,
    .table-responsive {
        max-width: 100%;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background: #e1ecfa;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(180, 187, 248);
            border-radius: 20px;
            border: 5px solid #e1ecfa;
        }
    }

    table {
        border-collapse: collapse;
        color: black;
        border-radius: 10px;
        width: 100%;
        max-width: 100%;
    }

    table, th, td {
        border: 1px solid lightgray;
    }

    th, td {
        padding: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 800;
        margin: 0.5em 0;
    }

    p:has(img) {
        display: flex;
        justify-content: center;

        img {
            border-radius: 10px;
        }
    }

    #screenshot-1 {
        content: url('/share-buttons/screenshots/1.png');
    }

    .screenshot {
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
    #screenshot-2 {
        content: url('/share-buttons/screenshots/2.png');
    }
}

@media (min-width: 350px) {
    .documentation-title {
        font-size: 40px;
    }

    #documentation--content {
        >h1 {
            font-size: 35px;
        }
    }   
}

@media (min-width: 768px) {
    #documentation--body {
        flex-direction: row;
        gap: 5%;
    }

    .documentation-title {
        font-size: 80px;
    }
    
    #documentation--content {
        width: auto;
        max-width: 800px;
        order: 1;
        
        >h1 {
            font-size: 75px;
        }
        
        #documentation--meta {
            width: 25%;
            order: 2;
        }
    }
}