@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

html {
    background: rgb(255,255,255);
    background: linear-gradient(50deg, rgba(255,255,255,1) 30%, rgba(235,244,245,1) 53%, rgba(233,243,244,1) 79%, rgba(181,198,224,1) 100%);
}


body {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    margin: 20px 40px 40px 40px;
    min-height: 100vh;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;

    .header-links {
        display: flex;
        gap: 15px;

        a {
            text-decoration: none;
            color: black;

            &hover, &visited, &active {
                color: black;
                font-weight: bolder;
            }
        }
    }
}

.container {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    padding: 20px 10%;
    border-radius: 8px;
    flex: 1;
    min-height: 200px;
}

.logo {
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-bottom: 50px;

    img {
        width: 20px;
        height: auto;
    }
}

.title-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;    
    margin: 50px 0;
}

.title {
    font-weight: bold;
    margin: 0 0 20px 0;
    font-size: 80px;
    line-height: 75px;
    max-width: 1000px;
}

.description {
    margin: 0;
    color: rgb(107, 107, 107);
    margin-bottom: 80px;
    max-width: 850px;
    font-size: 20px;
}

.title, .subtitle {
    color: black;
}

.subtitle {
    font-weight: bold;

    span {
        margin-left: 10px;
        background-color: rgb(227, 231, 233);
        color: rgb(0, 0, 78);
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 13px;
    }
}

.section-title {
    margin: 0;
    font-weight: bolder;
}

.section-label {
    color: #1157a7;
    margin: 0;
    font-weight: bolder;
}

hr {
    margin-top: 2em;
    width: 100px;
}

.copyright {
    margin: 0 auto;
}

@media (min-width: 1201px) {
    body {
        margin: 20px auto 40px auto;
    }
}