.container {
    display: flex;
    gap: 30px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 750px;
}

.logo {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 20px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: auto;
    margin-bottom: 20px;

    img {
        width: 40px;
        height: auto;
    }
}

.title {
    font-size: 80px;
    font-weight: bolder;
    margin: 0;
}

.description {
    margin: 0;
    font-weight: lighter;
}

.subtitle {
    font-weight: lighter;
}

.title, .subtitle, .description {
    color: rgb(48, 48, 48);
}

hr {
    margin-top: 2em;
    width: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: beige;
    min-height: 100vh;
}