.share-button-container {
    display: flex;
}

.share-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.share-button {
    border: 1px solid rgba(206, 206, 206, 0.61);
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

    &.round {
        border-radius: 22px;
        padding: 7px;
        height: 32px;
        width: 32px;
    }

    &.with-label {
        max-width: 220px;
        width: auto;
        height: 28px;
        gap: 10px;
        flex-shrink: 1;
        padding: 3px 8px; 

        svg {
            width: 20px;
            max-height: 20px;
        }
    }

    &:hover, &:active {
        background-color: white;
        color: black;
        text-decoration: none;
        border-color: lightgray;
        box-shadow: 1px 1px 5px lightgray;
    }

    h4 {
        margin: 0;
        font-weight: normal;
    }

    svg {
        width: 25px;
        height: auto;
        max-height: 25px;
    }    
}

.email { background-color: #02275f; }
.facebook-messenger { background-color: #2196F3;}
.facebook { background-color: #3b5998; }
.hatena { background-color: #009ad9; }
.instapaper { background-color: #1F1F1F; }
.line { background-color: #00b800; }
.linkedin { background-color: #007fb1; }
.live-journal { background-color: #21A5D8; }
.mail-ru { background-color: #168DE2; }
.odnoklassniki { background-color: #f2720c; }
.pinterest { background-color: #cb2128; }
.pocket { background-color: #EF3F56; }
.reddit { background-color: #ff4500; }
.telegram { background-color: #37aee2; }
.tumblr { background-color: #2c4762; }
.twitter { background-color: #00aced; }
.vk { background-color: #45668e; }
.viber { background-color: #7C529E; }
.weibo { background-color: #CD201F; }
.whatsapp { background-color: #25D366; }
.workplace { background-color: #3b3d4a; }

