{{ $withLabel := or (.Scratch.Get "withLabel") false }}
{{ $round := or (.Scratch.Get "round") false }}
{{ $data := .Scratch.Get "data" }}

<div class="share-button-container">
    <a href="{{ $data.link }}" class="share-button {{ $data.buttonClass }} {{ if $withLabel }} with-label {{ else if $round }} round {{ end }}" aria-label="{{$data.ariaLabel}}">
        {{ if $withLabel }} 
        <h4>
            {{ $data.label }}
        </h4>
        {{ end }}
        {{ readFile ( printf "static/share-buttons/%s.svg" $data.image ) | safeHTML }}
    </a>
</div>