{{ partial "utils/share-buttons/email.html" . }}
{{ partial "utils/share-buttons/facebook-messenger.html" . }}
{{ partial "utils/share-buttons/facebook.html" . }}
{{ partial "utils/share-buttons/hatena.html" . }}
{{ partial "utils/share-buttons/instapaper.html" . }}
{{ partial "utils/share-buttons/line.html" . }}
{{ partial "utils/share-buttons/linkedin.html" . }}
{{ partial "utils/share-buttons/live-journal.html" . }}
{{ partial "utils/share-buttons/mail-ru.html" . }}
{{ partial "utils/share-buttons/odnoklassniki.html" . }}
{{ partial "utils/share-buttons/pinterest.html" . }}
{{ partial "utils/share-buttons/pocket.html" . }}
{{ partial "utils/share-buttons/reddit.html" . }}
{{ partial "utils/share-buttons/telegram.html" . }}
{{ partial "utils/share-buttons/tumblr.html" . }}
{{ partial "utils/share-buttons/twitter.html" . }}
{{ partial "utils/share-buttons/viber.html" . }}
{{ partial "utils/share-buttons/vk.html" . }}
{{ partial "utils/share-buttons/weibo.html" . }}
{{ partial "utils/share-buttons/whatsapp.html" . }}
{{ partial "utils/share-buttons/workplace.html" . }}